[submodule "BlueSTSDK"]
	path = BlueSTSDK
	url = https://github.com/STMicroelectronics/BlueSTSDK_Android.git
[submodule "STWINBoard_GUI_Android"]
	path = STWINBoard_GUI_Android
	url = https://github.com/STMicroelectronics/STWINBoard_GUI_Android.git
[submodule "BlueSTSDK_Gui_Android"]
	path = BlueSTSDK_Gui_Android
	url = https://github.com/STMicroelectronics/BlueSTSDK_GUI_Android.git
