<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.st.blesensor.cloud" >
    <!-- add for paho -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>
        <service
            android:name="org.eclipse.paho.android.service.MqttService"
            android:enabled="true" />
    </application>
</manifest>
