<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- add for paho -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>
        <service
            android:name="org.eclipse.paho.android.service.MqttService"
            android:enabled="true" />
        <activity
            android:name=".AzureIoTCentralPnP.CloudAppConfiguration.AzureIoTPnPCloudConfigActivity"
            android:label="Azure IoT PnP Configuration" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="android:screenOrientation"
            android:stateNotNeeded="true"/>
    </application>
</manifest>
