<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- needed for the BlueVoice demos -->
    <!-- need for search for nwe devices for API>=33 !-->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- Memes Sensor Fusion vibrate when a free fall is detected -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- needed for the Sensor fusion demo demos -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <!-- needed for the BlueVoice demos -->
    <uses-feature
        android:name="android.hardware.audio.low_latency"
        android:required="false" />

    <application
        android:name=".BlueMSApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/app_logo"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        >
        <!-- requestLegacyExternalStorage = true to disable the scoped storage on android 10 -->

        <service
            android:name=".demos.fftAmpitude.FFTExportedService"
            android:exported="false"/>

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullscreenTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".NodeListActivity"
            android:label="@string/title_activity_node_list"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="uiMode|orientation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.st.BlueMS.MainActivity" />
        </activity>
        <activity
            android:name=".DemosActivity"
            android:label="@string/title_activity_demos"
            android:launchMode="singleTop"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:parentActivityName=".NodeListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.st.BlueMS.NodeListActivity" />
        </activity>
        <activity
            android:name=".DemosActivityWesu"
            android:label="@string/title_activity_demos"
            android:launchMode="singleTop"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:parentActivityName=".NodeListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.st.BlueMS.NodeListActivity" />
        </activity>
        <activity
            android:name=".preference.wesu.SettingsWithWesuRegisters"
            android:label="@string/settings"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:parentActivityName=".DemosActivityWesu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.st.BlueMS.DemosActivityWesu" />
        </activity>
        <activity
            android:name=".preference.nucleo.SettingsWithNucleoConfiguration"
            android:label="@string/settings"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:parentActivityName=".DemosActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.st.BlueMS.DemosActivity" />
        </activity>
        <activity
            android:name=".NfcNodeConnection"
            android:label="@string/title_activity_nfc_node_connection"
            android:launchMode="singleInstance"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.st.BlueMS.MainActivity" />
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "blesensor://connect” -->
                <data android:scheme="blesensor"
                    android:host="connect" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "stapplication://connect” -->
                <data android:scheme="stapplication"
                    android:host="connect" />
            </intent-filter>
        </activity> <!-- Start: integrate the BlueSTSDK.gui activity in the app, setting the parent activity -->
        <activity
            android:name="com.st.BlueSTSDK.gui.DebugConsoleActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:parentActivityName=".DemosActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.st.BlueMS.DemosActivity" />
        </activity>
        <activity
            android:name="com.st.BlueSTSDK.gui.AboutActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.st.BlueMS.MainActivity" />
        </activity>
        <activity android:name="com.st.BlueSTSDK.gui.fwUpgrade.FwUpgradeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.st.BlueMS.DemosActivity" />
        </activity>
        <activity android:name="com.st.STM32WB.fwUpgrade.FwUpgradeSTM32WBActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.st.BlueMS.NodeListActivity" />
        </activity> <!-- End: integrate the BlueSTSDK.gui activity in the app, setting the parent activity -->
        <receiver android:name=".NfcNodeConnection$InsertPairPin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.PAIRING_REQUEST" />
                <action android:name="android.bluetooth.device.action.BOND_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".demos.aiDataLog.SessionAnnotationLoggingService"
            android:exported="false" />
    </application>

</manifest>
