<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2022(-0001) STMicroelectronics.
  ~ All rights reserved.
  ~ This software is licensed under terms that can be found in the LICENSE file in
  ~ the root directory of this software component.
  ~ If no LICENSE file comes with this software, it is provided AS-IS.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <queries>
        <intent>
            <action android:name="android.intent.action.SEND_MULTIPLE" />
            <data android:mimeType="message/rfc822" />
        </intent>
    </queries>

    <application
        android:name=".BlueMsApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BlueMS">

        <meta-data
            android:name="com.google.ar.core.min_apk_version"
            android:value="19"
            tools:replace="android:value" />

        <meta-data
            android:name="com.google.ar.core"
            android:value="optional" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BlueMS.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "stapplication://connect” -->
                <data android:scheme="stapplication"
                    android:host="connect" />
            </intent-filter>

        </activity>
    </application>

</manifest>
