<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".ui.DashboardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/STBoxAppTheme.No.Actionbar"/>

        <activity
            android:theme="@style/STBoxTheme"
            android:name=".ui.SensorDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.NewFlowActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/STBoxAppTheme.No.Actionbar"/>

        <activity
            android:theme="@style/STBoxTheme"
            android:name=".ui.ViewFlowDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <activity
            android:theme="@style/STBoxTheme"
            android:name=".ui.SelectFlowsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <activity
            android:theme="@style/STBoxTheme"
            android:name=".ui.UploadFlowActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.ComposeIfActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/STBoxAppTheme.No.Actionbar"/>
    </application>

</manifest>