<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2022(-0001) STMicroelectronics.
  ~ All rights reserved.
  ~ This software is licensed under terms that can be found in the LICENSE file in
  ~ the root directory of this software component.
  ~ If no LICENSE file comes with this software, it is provided AS-IS.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.logFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/log_file_path" />
        </provider>
    </application>
</manifest>